{% load staticfiles %}
<!DOCTYPE html>

<html>


    <head>
        <title>TimeApp</title>
        <link type="text/css" rel="stylesheet" href={% static 'timeapp.css' %}
    </head>


    <body>
        <div class="leftbox">
            <p>  </p>
            {% comment %} There needs to be a bit of whitespace here {% endcomment %}
        </div>
        <div class="centerbox">
            <div id="header">
                <div class="titlebox">
					<p>Django Time</p>
				</div>
				<div class="navbox">
                    <a class="navbox" href="/">Home | </a>
                    <a class="navbox" href="{% url 'event_new' %}">New | </a>
                    <a class="navbox" href="{% url 'meta_detail' %}">Request META | </a>
                    <a class="navbox" href="{% url 'set_timezone' %}">Set Timezone</a>
				</div>
            </div>
            <div id="container">
                <div id="content">
                    {% block content %}
                        [content will go here]
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>


</html>